body{
	background-color: #dfe6e9;
}

.header{
	display: inline !important;
}

.home-button{
	margin-bottom: 1em;
	margin-left: 2em;
}

.headline{
	margin-top: 3em;
	margin-bottom: 3em;
}

.col-form-label{
	font-size: 1.1em;
}
